* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', 'cursive';
}

#navbar {
    /* display: flex; */
    align-items: center;
    position: fixed;
    top: 0px;
    /* justify-content: space-between; */
    width: 100%;
    z-index: 99;
}

#navbar::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

#navbar .logo {
    margin: 10px 34px;
    display: flex;
    flex-direction: row-reverse;
    float: right;
    align-items: center;
}

#navbar .logo img {
    height: 40px;
    margin: 3px 23px;
}

#navbar .logo .collapse .user h4 {
    font-size: 1rem;
    font-weight: 600;
}

#navbar .logo .collapse .user p {
    font-size: .8rem;
}

#navbar .logo .collapse {
    list-style: none;
    text-decoration: none;
    line-height: 0px;
    padding: 14px;
    background-color: white;
    border-radius: 3px;
}

#navbar .logo .collapse li {
    text-decoration: none;
    border-radius: 10px;
    line-height: 30px;
    color: black;
}

#navbar .logo .collapse li a {
    color: black;
    text-decoration: none;
}

#navbar .logo .collapse li a:hover {
    color: crimson;
    font-weight: 600;
}

#navbar .menu {
    display: flex;
    padding-top: 15px;
    margin-left: 20px;
}

#navbar .menu li {
    list-style: none;
}

#navbar .menu li a {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

#navbar .menu li a:hover {
    color: crimson;
    /* background-color: white; */
    transition: color 0.5s;
    font-weight: 600;
}

.check-btn {
    margin: 10px 15px;
    cursor: pointer;
    color: white;
    display: none;
}

#check {
    display: none;
}

#home {
    display: flex;
    padding-top: 12rem;
    color: white;
    line-height: 53px;
}

#home::before {
    content: "";
    position: absolute;
    background: url('bg1.webp') no-repeat center center/cover;
    height: 542px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

#home .container .text-1 {
    font-size: 2.6rem;
    color: white;
}

#home .container .text-2 {
    font-size: 4.1rem;
}

#home .container .text-3 {
    font-size: 2.3rem;
}

#home .container span {
    color: crimson;
    font-weight: 600;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#home .container .btn {
    background-color: rgba(0, 0, 0, 0.208);
    color: white;
}

#home .container .btn :hover {
    background-color: rgba(0, 0, 0, 0.522);
    color: crimson;
}

section {
    padding: 100px 0;
}

#about .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

#about .title::before {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

#about .title::after {
    content: "Who am i";
    position: absolute;
    bottom: 0px;
    left: 50%;
    padding: 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
    font-size: 1rem;
    color: crimson;
}

#about .container .row .card .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .container .image {
    width: 50%;
}

#about .container .content {
    width: 50%;
}

.container .content p {
    text-align: justify;
}

#about .container .image img {
    width: 60%;
}

#about .content .text {
    font-size: 2rem;
    font-weight: 600;
}

#about .content .btn {
    font-size: 1.2rem;
    background-color: crimson;
    border: 2px solid crimson;
}

#about .content .btn a {
    text-decoration: none;
    color: white;
}

#about .content .btn:hover {
    background: none;
}

#about .content .btn a:hover {
    color: crimson;
}

#skills {
    background-color: black;
}

#skills .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: white;
    padding-top: 0;
}

/* #skills .container .row .card-body  {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
#skills .title::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

#skills .title::after {
    content: "What i know";
    position: absolute;
    bottom: -6px;
    left: 50%;
    padding: 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
    font-size: 1rem;
    color: crimson;
}

#skills .content p {
    color: white;
}

#skills .content .btn {
    font-size: 1.2rem;
    background-color: crimson;
    border: 2px solid crimson;
}

#skills .content .btn a {
    text-decoration: none;
    color: white;
}

#skills .content .btn:hover {
    background: none;
}

#skills .content .btn a:hover {
    color: crimson;
}

#skills .progress-bars h3 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

#skills .progress-bars .progress {
    height: 0.5rem;
}

#contact .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

#contact .title::before {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

#contact .title::after {
    content: "how to contact";
    position: absolute;
    bottom: 0px;
    left: 50%;
    padding: 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
    font-size: 1rem;
    color: crimson;
}

#contact .content .details .head {
    font-weight: 600;
}

#contact .content .details .font {
    align-items: center;
    display: flex;
    padding: 10px;
}

#contact .social {
    /* margin-top: 0.4rem; */
    font-size: 1.2rem;
    display: flex;
}

#contact .social .fa {
    color: white;
    background-color: crimson;
    text-decoration: none;
    margin: 1rem 1.3rem;
    padding: 12px;
    border: 2px solid crimson;
    border-radius: 10px;
}

#contact .social .fa:hover {
    color: crimson;
    border: 2px solid crimson;
    background: none;
}

#contact .contact-form label {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

#contact .contact-form .input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 0.2rem;
}

#contact .contact-form a {
    text-decoration: none;
    border: 2px solid crimson;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: crimson;
    color: white;
    font-weight: 600;
}

#contact .contact-form a:hover {
    background-color: white;
    color: crimson;
}

/* #contact .contact-form .social {
    display: none;
} */

.footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.footer .social {
    /* margin-top: 0.4rem; */
    font-size: 1.2rem;
    /* display: flex; */
}

.footer .social .fa {
    color: white;
    background-color: crimson;
    text-decoration: none;
    margin: 0.5rem 1rem;
    padding: 10px;
    border: 2px solid crimson;
    border-radius: 10px;
}

.footer .social .fa:hover {
    color: crimson;
    border: 2px solid crimson;
    background: none;
}



































/* media queries */
@media screen and (max-width: 800px) {

    .check-btn {
        display: block;
    }

    #navbar .check-btn {
        display: block;
        margin-top: 1.2rem;
    }

    #navbar .menu {
        position: fixed;
        background-color: rgb(0, 0, 0);
        /* top: 0; */
        height: 100%;
        width: 100%;
        left: -100%;
        display: inline-block;
        text-align: center;
        margin-left: 0px;
        transition: all .5s;
    }

    #navbar .menu li {
        display: block;
        margin: 27px 0px;
    }

    /* #navbar {
       display: flex;
       justify-content: space-between;
    } */

    #check:checked ~ .menu {
        left: 0;
    }
    #navbar .logo{
        margin-top: -2.7rem;
    }
}

@media screen and (max-width: 993px) {
    #about .content .text {
        font-size: 1.7rem;
        font-weight: 600;
    }

    #about .container .image img {
        width: 70%;
    }
}


@media screen and (max-width: 992px) {
    #home .container .text-1 {
        font-size: 2.1rem;
        color: white;
    }

    #home .container .text-2 {
        font-size: 3.8rem;
    }

    #home .container .text-3 {
        font-size: 2.3rem;
    }

    /* contact social media */
    /* #contact .content .social {
        display: none;
    }
    #contact .contact-form .social {
        font-size: 1.1rem;
        display: block;
       text-align: center;
        padding: px;
        padding-top: 20px;
    }

    #contact .contact-form .social .fa {
        color: white;
        background-color: crimson;
        text-decoration: none;
        margin: 0.5rem 1.2rem;
        padding: 10px;
        border: 2px solid crimson;
        border-radius: 10px;
    }

    #contact .contact-form .social .fa:hover {
        color: crimson;
        border: 2px solid crimson;
        background: none;
    } */

}

@media screen and (max-width: 768px) {
    #about .container .row .card .card-body {
        display: flex;
        flex-direction: column;
    }

    #home .container .text-1 {
        font-size: 2rem;
        color: white;
    }

    #home .container .text-2 {
        font-size: 2.8rem;
    }

    #home .container .text-3 {
        font-size: 2.1rem;
    }

}

@media screen and (max-width: 531px) {
    #home {
        display: flex;
        flex-direction: column;
        height: 550px;
        justify-content: center;
        align-items: center;
        line-height: 39px;
    }

    #home .container .text-1 {
        font-size: 1.5rem;
        color: white;
    }

    #home .container .text-2 {
        font-size: 2rem;
    }

    #home .container .text-3 {
        font-size: 1.7rem;
    }

}

@media screen and (max-width: 393px) {
    #navbar ul li a {
        padding: 5px 6px;
        font-size: .8rem;
    }

    #home {
        line-height: 30px;
    }

    #home .container .text-1 {
        font-size: .9rem;
        color: white;
    }

    #home .container .text-2 {
        font-size: 1.2rem;
    }

    #home .container .text-3 {
        font-size: 1rem;
    }

}